.post-page{
   height: max(100vh,100%);
}
.image{
    max-height: 250px;
    overflow: hidden;
    display: flex;
}
.image img{
    object-fit: cover;
    object-position: center center;

}
a{
    color:#333;
    text-decoration: underline;
}
h1{
    text-align: center;
}
div.post-page .info{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin :1rem 0.5rem;
    font-size: .8rem;
}
div.post-page .author{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.content{
    line-height: 1.6rem;
}
.edit_btn{
    background-color: #333;
    color: white;
    margin-bottom: 10px;
    padding: .6rem 1.5rem;
    border-radius: .5em;
    cursor: pointer;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
}
a svg{
    height: 20px;
    background: #333;
}